.content-2 {
  .text {
    width: 100%;
    text-align: center;
    h1 {
      padding: 20px;
      font-weight: bold;
    }
    p {
      font-size: 15px;
    }
  }
  .col {
  }
  .cart {
    text-align: center;
    @media only screen and (max-width:800px){
      text-align: center;
    }
  }
}
