.content-4 {
  width: 100%;
  height: 900px;
  display: block;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position: right;
  background-image: url(../image/m1.png), linear-gradient(
    350deg,
    rgb(23, 39, 85) 10%,
    rgb(23, 39, 85) 70%,
    rgb(255, 0, 0) 55%,
    rgb(248, 249, 255) 73%
  );
  .text {
      width: 100%;
      text-align: center;
      padding-top: 250px;
      color: #fff;
  }
  .col {
      img {
          width: 400px;
      }
  }
}
