@import "content-2";
@import "content-3";
@import "content-4";
@import "content-5";

body {
  overflow-x: hidden;
  background: #f8f9ff;
}
.content-1 {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-image: url(../image/mm.png),
    linear-gradient(
      160deg,
      rgb(23, 39, 85) 3%,
      rgb(23, 39, 85) 56%,
      rgb(255, 0, 0) 58%,
      rgb(248, 249, 255) 60%
    );
  // background: #172755;
  .container-fluid {
    margin-top: 40px;
    padding: 0 40px;
    align-items: center;
    h4 {
      color: #fff;
      margin: 0;
    }
    .nav-h4 {
      @media only screen and (max-width:800px){
        display: none;
      }
    }
    h4:hover {
      color: #f2f2f2;
      margin: 0;
    }
    button {
      width: 150px;
      background: rgba(255, 255, 255, 0.1);
      border: 2px solid #fff;
      border-radius: 20px;
      color: #fff;
      box-shadow: 2px 2px 10px black;
      margin-left: 30px;
      @media only screen and (max-width:800px){
        display: none;
      }
    }
    button:hover {
      width: 150px;
      background: rgba(255, 255, 255, 0.1);
      border: 2px solid #fff;
      border-radius: 20px;
      color: #fff;
      margin-left: 30px;
      box-shadow: -6px 6px 15px black, 6px -6px 15px black;
    }
    a {
      font-size: 15px !important;
      color: rgba(250, 250, 250, 0.5);
      @media only screen and(max-width:820px){
        display: none;
      }
    }
    @media only screen and (max-width: 800px) {
      span {
        width: 100%;
        display: block;
        position: relative;
        height: max-content;
        .topnav {
          display: flex;
          overflow: hidden;
          width: max-content;
          .fa-bars {
            color: #fff;
            font-size: 25px;
          }
        }
      }
    } 
    .icons {
      // @media only screen and (min-width:1000px){
      //   display: none;
      // }
      @media only screen and (max-width:800px){
        display: inline-block;
        a {
          display: block;
        }
      }
    }
    .topnav {
      display: none;
  }
  .my-link {
    @media only screen and (min-width: 1000px) {
      display: none;
    }
  }
    a:hover {
      font-size: 15px !important;
      color: #fff;
    }
    .nav-rin {
      display: flex;
    }
  }
  section {
    h1 {
      color: #fff;
      font-weight: bold;
      padding: 80px 30px 20px 30px;
    }
    p {
      color: rgba(250, 250, 250, 0.5);
      font-size: 15px;
      padding: 20px 30px;
      @media only screen and (max-width: 600px) {
        color: #ef2a82;
      }
    }
    button {
      margin: 10px 30px;
      padding: 10px 60px;
      border: 0px solid;
      border-radius: 25px;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      background: #ef2a82;
    }
    img {
      width: 620px;
      @media only screen and(max-width: 900px) {
        display: none;
      }
    }
    .con-1-image {
      width: 400px;
      position: absolute;
      top: 270px;
      left: 550px;
      @media only screen and (max-width: 900px) {
        display: none;
      }
    }
    .row {
      @media only screen and (max-width: 600px) {
        padding-top: 20px;
      }
    }
  }
}

      .my-link {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        color: black;
        position: relative;
        z-index: 100;
        a {
          color: #fff;
          padding: 30px 50px;
          text-decoration: none;
          font-size: 18px;
          display: block;
        }
        a:hover {
          color: #fff;
          background: black;
          padding: 30px 50px;
          text-decoration: none;
          font-size: 18px;
          display: block;
        }
        #myLinks {
          background: #172755;
          display: none;
          width: 100%;
          height: 100%;
        }
      }